/* .selectLangBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  z-index: 1;
  padding:10px;
  min-height: 80vh;
  width: 90%;
} */

 /* .test{
  color: #1A101A;
  background: (to right, #364da9, #C33764);
  background: linear-gradient(to right, #662D8C, #ED1E79);
 } */
 /* .greetingsDropDownTextContainer{
    flex:1;
    display:flex;
    flex-direction: column;
    margin-top: 2%;
    padding: 10px;
 } */
/* 
 .greetingMessage {
  flex: 0 0 auto;
  align-self: flex-start;
  height: 100px;
  font-size: 3em;
  color: transparent;
  background: linear-gradient(to right, #1D2671, #C33764);
  -webkit-background-clip: text;
  background-clip: text;
  text-align: left;
  white-space: nowrap;
  opacity: 1; 
  transition: opacity 0.5s ease-in-out;
}
body.dark-mode .greetingMessage{
  color: transparent;
  background: linear-gradient(to right, #1D2671, #C33764);
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 0; 
  transition: opacity 0.1s background-color 0.1s ease-in-out; 
}
body:not(.dark-mode) .greetingMessage{
  color: transparent;
  background: linear-gradient(to right, #662D8C, #ED1E79);
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 0; 
  transition: opacity 0.1s background-color 0.1s ease-in-out; 
  
} */
/* .dropDownText{
  align-self: flex-start;
  
  margin-top: -6%;
  flex:1;
}

.temp{
  transition: left 0.5s ease-in-out;
}
.temp span {
  font-size: 24px;
  transition: color 0.7s ease;
}

.grey {
  color: rgba(172, 172, 172, 0.404);
} */
/* .centeredtHalf{
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 82%;
  background-color: red;
  
} */



/* 
.dropDownContainer {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 10px;
  width: 90%; 
  height: 30%;
  max-width: 100%; 
  min-width: 25%; 

}
body:not(.dark-mode) .dropDownContainer{
  background-color: rgba(255, 255, 255, 0.8);
  color:black;
}
body.dark-mode .dropDownContainer{
  background-color: rgba(156, 156, 156, 0.8);
  color: white;
}
.searchBoxContainer {
  align-self: flex-start;
  flex: 1;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 100%;
  display: flex;
  align-items: center;
}

.search-box {
  width: 100%;
  height: 40%;
  border-radius: 10px;
  outline: none;
  padding: 8px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, border 0.3s ease; 
  font-size: 16px; 
  color: #333; 
  background-color: rgba(255, 255, 255, 0.8);
  transition: box-shadow 0.3s ease;
}
body.dark-mode  .search-box{
  background-color: rgba(255, 255, 255, 0.4);
 
}
body:not(.dark-mode)  .search-box{
  background-color: rgba(255, 255, 255, 0.3);

}

body:not(.dark-mode) .searchBoxContainer .search-box::placeholder {
  color: #6c6c6c;
}

body.dark-mode .searchBoxContainer .search-box::placeholder {
  color: #e5e5e5;
}

.search-box:focus {
  box-shadow: 0 0 4px rgba(116, 2, 106, 0.1);
  animation: mildGlow 1.5s infinite alternate ease-in-out;
}

@keyframes mildGlow {
  from {
    box-shadow: 0 0 2px rgba(146, 6, 134, 0.3);
  }
  to {
    box-shadow: 0 0 6px rgba(204, 0, 187, 0.6); 
  }
}

.languageListContainer {
  align-self: flex-start;
  flex: 7;
  width: 100%;
  overflow-y: auto;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.languageListContainer::-webkit-scrollbar {
    width: 5px; 
}

.languageListContainer::-webkit-scrollbar-thumb {
    background-color: transparent; 
}

.languageListContainer:hover::-webkit-scrollbar-thumb {
    background-color: darkgrey; 
}

.dropdown-item {
  padding: 8px 18px; 
  display: block; 
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease; 
  color: #1d1d1d; 
  text-decoration: none; 
  font-weight: 5px;
  background-color: transparent; 
}
body:not(.dark-mode) .dropdown-item{
  color: #1f1f1f; 
}
body.dark-mode .dropdown-item{
  color: #fffefe; 
}
.dropdown-item:hover, .dropdown-item:focus {
  background-color: rgba(226, 226, 226, 0.486); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-1px);
}

.dropdown-item:hover {
  background-color: rgba(226, 226, 226, 0.486); 
}
.dropdown-item:active {
  background-color: #e0e0e0; 
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); 
  transform: translateY(1px); 
} */

/* .bottomContainer {
  margin-top: 25px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.selectLangBtns {
  display: flex;
  justify-content: right;
  flex: 3;
  gap: 15%;
} */

/* .declineBtn{
  background: transparent;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .085rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 100;
  letter-spacing: -.01em;
  line-height: 1.3;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s, background-color .3s ease, box-shadow .2s ease;
  user-select: none;
  touch-action: manipulation;
  padding: 10px 25px; 
  backdrop-filter: blur(8px); 
}



.declineBtn:not(:disabled):hover {
  transform: scale(1.05);
  background-color: rgba(130, 127, 127, 0.4); 
}

.declineBtn:not(:disabled):hover:active{
  transform: scale(1.05) translateY(.125rem);
}

.declineBtn:focus{
  outline: 0 solid transparent;
}

.declineBtn:focus:before{
  content: "";
  position: absolute;
  left: calc(-1 * .375rem);
  top: calc(-1 * .375rem);
  pointer-events: none;
  transition: border-radius;
  user-select: none;
}

.declineBtn:focus:not(:focus-visible){
  outline: 0 solid transparent;
}

.declineBtn:focus:not(:focus-visible):before{
  border-width: 0;
}

.declineBtn:not(:disabled):active{
  transform: translateY(.125rem);
}



body:not(.dark-mode) .declineBtn {
  color: black;
}

body.dark-mode .declineBtn {
  color: white;

} */

/* 
.connaSelectLang {
  display: flex;
  justify-content: flex-end;
  flex: 1;
} */




/*Still not implemented */

/* Smartphones (not optimized for galaxy z fold)*/
@media (max-width: 500px){
  .greetingMessage{
    font-size: 1.5em;
    height: 50px;
  }
  .pageContainer .selectLangBody .dropDownText span {
    font-size: 15px; 
  }
  .pageContainer .selectLangBody .dropDownContainer  {
    width: 400px ; 
    /* max-height: 300px; */
    /* max-width: 100%;  */
    min-width: 280px;
    margin: 0;
   
  }
  .search-box {
    width: 90%;
    font-size: 15px;
  }

  .dropdown-item {
    padding: 5px 5px;
  }
  .bottomContainer {
    width: auto; 
    margin-top: 15px;
  }
  .selectLangBtns {
    display: flex;
    justify-content: flex-end; 
    gap: 2%;
  }

  .declineBtn, .confirmBtn {
    font-size: 0.7rem;
    padding: 4px 10px; 
    margin: 0 2%; 
  }

  .declineBtn {
    margin-left: 5%; 
  }

  .confirmBtn {
    margin-right: 5%; 
  }
  .connaContainer {
    justify-content: center; 
  }

  .connaBtn {
    padding: 5px;
    font-size: 12px;
  }

}

/* Small tablets */
@media (max-width: 600px) {
.pageContainer .selectLangBody .dropDownContainer  {
  width: 100%;
  margin: 10px 10px 10px 2%;
  
}
}

/* Standard tablets */
@media (max-width: 768px) {
.pageContainer .selectLangBody .dropDownContainer {
  width: 80%;
  margin: 10px 10px 10px 2%;
  
}
}

/* Large tablets */
@media (max-width: 1024px) {
  .greetingMessage{
    font-size: 1.5em;
    height: 50px;
  }
  .pageContainer .selectLangBody .dropDownText span {
    font-size: 15px; 
  }
  .pageContainer .selectLangBody .dropDownContainer  {
    width: auto; 
    height: 3%;
    max-width: 90%; 
    min-width: 35%; 
    margin: 10px 5px 10px 5px;
  }
}

/* Small laptops */
@media (max-width: 1280px) {
  .pageContainer .selectLangBody .dropDownContainer  {
    width: 60%;
    margin: 10px 10px 10px 2%;
  }
}

/* Large laptops */
@media (max-width: 1440px) {
  .pageContainer .selectLangBody .dropDownContainer  {
    width: 53%;
    margin: 10px 10px 10px 2%;
  }
}