
.selectLanguagePageContainer .selectLanguageBodyContainer{
    min-height: 80vh;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    position: relative;
    z-index: 1;
    /* background-color: yellow; */
  }
  .selectLanguagePageContainer .selectLanguageBodyContainer .greetingMessage {
    position: absolute;
    left: 29vw; /* Start with a viewport width based percentage */
    top: 5%;
    height: auto;
    font-size: 3em;
    color: transparent;
    background: linear-gradient(to right, #1D2671, #C33764);
    -webkit-background-clip: text;
    background-clip: text;
    transition: opacity 0.5s ease-in-out;
}

  @media (max-width: 1000px) { /* Adjust breakpoint as needed */
      .selectLanguagePageContainer .selectLanguageBodyContainer .greetingMessage {
          left: 10%; /* Increase percentage for smaller screens if needed */
      }
  }


  .selectLanguagePageContainer .selectLanguageBodyContainer .dropDownText p {
    position: absolute;
    left: 29vw; /* Start with the same viewport width based percentage */
    top: 155px; /* Adjust this value to align under the greeting message */
    font-size: 20px; /* Match the font size to your design */
    transition: left 0.5s ease-in-out;
}

  @media (max-width: 1000px) {
      .selectLanguagePageContainer .selectLanguageBodyContainer .dropDownText p {
          left: 10%; 
      }
  }

  
  .selectLanguagePageContainer .selectLanguageBodyContainer .dropDownBar {
    position: absolute;
    width: 49%;
    top: 50%; /* Adjust this value based on layout */
    left: 50%;
    transform: translate(-50%, -50%);
}

.dropdown-container {
    position: absolute;
    width: 90%;
    top: 60%; /* Adjust this value based on layout */
    left: 10%;
    transform: translate(-50%, -50%);
    max-height: 300px;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.search-box {
    position: absolute;
    width: 35%;
    top: 70%; /* Adjust this value based on layout */
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    outline: none;
}





.dropdown-item {
    padding: 10px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

  
  