body {
    margin: 0;
    height: 100vh;
    background-color: black;
    color: white;
    cursor: none;
    overflow: hidden;
}

.cursor {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 10000;
    mix-blend-mode: difference;
    background-color: white;
    transition: width 0.2s, height 0.2s, opacity 0.2s;
    opacity: 1;
}

p, h1, h2, h3, a, button {
    margin: 20px;
    transition: color 0.3s;
}
