/* .pageContainer {
  margin: 15px;
  width: calc(100vw - 30px);
  height: calc(100vh - 40px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: auto;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.pageContainer.fade-in {
  opacity: 1;
}
 */

 .Backgroundcolor {
  background-color: #565656;
  background-color: rgb(197, 197, 197);

  }

 .hover{
  color: #e9e9e9;
  color: #969696;
 }

 .active{
  color: #919191;
  color: #595858;
 }